*.suo
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vcxproj.filters
/ipch
/Release
/Debug
/Client/Log.txt
/Client/*.user
/Client/account.xml
/Client/bin/account.xml
/Client/bin/config.json
/Client/bin/Log.txt
/Client/bin/server
/Server/*.sdf
/Server/*.user
/Server/server_key.pub
/Server/server_key
/Server/Debug
/Client/Release
/Client/Debug
/client/resourse.aps
/client/bin/resources/textures
/client/buildversion.hpp
/client/get_auto_ver_client.vbs
/server/get_auto_ver_server.vbs
/server/buildversion.hpp
/server/Release
/client/bin/resources/models
/client/bin/resources/motions
/client/bin/resources/fonts
