*.suo
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vcxproj.filters
*.ttf
*.sdf
*.user
*.log
log_*.txt
/ipch
/Release
/Debug
/Client/Log.txt
/Client/account.xml
/Client/bin/account.xml
/Client/bin/config.json
/Client/bin/Log.txt
/Server/server_key.pub
/Server/server_key
/Server/Debug
/Client/Release
/Client/Debug
/client/resourse.aps
/client/buildversion.hpp
/client/get_auto_ver_client.vbs
/server/get_auto_ver_server.vbs
/server/buildversion.hpp
/server/Release
/ServerLauncher
/client/bin/tool
/client/bin/widgets
/client/bin/models
/client/bin/motions
/client/bin/screenshot
/client/bin/log
/client/bin/Log.txt
/client/bin/user
