*.suo
*.sdf
*.opensdf
*.sln
*.vcxproj
*.vcxproj.filters
/ipch
/Release
/Debug
/Client/Log.txt
/Client/*.user
/Client/account.xml
/Client/bin/account.xml
/Client/bin/config.json
/Client/bin/Log.txt
/Client/bin/resources
/Client/bin/server
/Server/*.sdf
/Server/*.user
/Server/server_key.pub
/Server/server_key
/Server/Debug
/Client/Release
/Client/Debug
